body {
  margin: 0;
}

.row {
  margin: 0;
  padding: 40px 0 0 0;
}

.home {
  background-image: url(assets/home/background-home-desktop.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  width: 830px;
  height: 96px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10.7742px);
}

li {
  float: left;
}

li a {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  display: block;
  color: white;
  text-align: center;
  padding: 38px 0px;
  text-decoration: none;
  margin: 0 20px;
}

li a:hover {
  border-bottom: 3px solid white;
  color: white;
}

.align-self-center {
  display: flex;
  align-items: center;
}

.nav-row{
  padding-left: 100px;
}

.home-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 17rem 0 0 5rem;
  text-align: left;
}

.home-title {
  font-family: "Barlow Condensed";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
}

.home-space {
  font-family: "Bellefair";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
}

.home-para {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  width: 90%;
}

.exp-circle {
  padding-top: 20rem;
  position: relative;
}

.circle {
  border-radius: 100%;
  background-color: #ffffff;
  height: 20rem;
  width: 20rem;
  position: absolute;
}

.explore {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  position: absolute;
  padding: 9rem 0 0 5.5rem;
  text-transform: uppercase;
}

.icon{
  justify-content: center;
}

.line-cont{
  position: relative;
}

.line{
  position: absolute;
  background-color: #ffffff;
  height: 1px;
  width: 105%;
  z-index: 1;
}